/* Light Theme - Text Tokens */
:root {
  /* Text colors */
  --text-colours-color-text-primary: #231a4d;
  --text-colours-color-text-secondary: #6b6293;
  --text-colours-color-text-disabled: #c2bddb;
  --text-colours-color-text-primary-inverted: #f7f6fe;

  /* Typography */
  --primary-typeface: "Innovator Grotesk";
}
