[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "==1.2.6"
toolkit-testing = {editable = true, path = "./../../utils/toolkit_testing"}

[requires]
python_version = "3"
