[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = { version = "==24.3.0", extras = ["d"] }

[packages]
urllib3 = ">=2.6.0"
aiohttp = "==3.10.11"
websockets = "==12.0"
pytest = "==7.2.0"
pytest-asyncio = "==0.20.3"
behave = "==1.2.6"
PyYAML = "==6.0"
mypy-boto3-s3 = "==1.35.81"
toolkit-testing = { editable = true, path = "./../../utils/toolkit_testing" }
tornado = ">=6.5.2"
prometheus-client = "==0.21.1"

[requires]
python_version = "3.11"
