@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;

    --background: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
    --foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 88%));
    --card: light-dark(hsl(0 0% 88%), hsl(0 0% 3.9%));
    --card-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 88%));
    --popover: light-dark(hsl(0 0% 88%), hsl(0 0% 3.9%));
    --popover-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 88%));
    --primary: light-dark(hsl(0 0% 3.9%), hsl(0 0% 88%));
    --primary-foreground: light-dark(hsl(0 0% 88%), hsl(0 0% 9%));
    --secondary: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
    --secondary-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 88%));
    --muted: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
    --muted-foreground: light-dark(hsl(0 0% 45.1%), hsl(0 0% 63.9%));
    --accent: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
    --accent-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 88%));
    --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
    --destructive-foreground: light-dark(hsl(0 0% 100%), hsl(0 0% 88%));
    --border: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));
    --input: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));
    --ring: light-dark(hsl(0 0% 3.9%), hsl(0 0% 83.1%));
    --chart-1: light-dark(hsl(12 76% 61%), hsl(220 70% 50%));
    --chart-2: light-dark(hsl(173 58% 39%), hsl(160 60% 45%));
    --chart-3: light-dark(hsl(197 37% 24%), hsl(30 80% 55%));
    --chart-4: light-dark(hsl(43 74% 66%), hsl(280 65% 60%));
    --chart-5: light-dark(hsl(27 87% 67%), hsl(340 75% 55%));
    --radius: 0.5rem;
    --sidebar-background: light-dark(hsl(0 0% 100%), hsl(240 5.9% 10%));
    --sidebar-foreground: light-dark(hsl(240 5.3% 26.1%), hsl(240 4.8% 95.9%));
    --sidebar-primary: light-dark(hsl(240 5.9% 10%), hsl(224.3 76.3% 48%));
    --sidebar-primary-foreground: light-dark(hsl(0 0% 88%), hsl(0 0% 100%));
    --sidebar-accent: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
    --sidebar-accent-foreground: light-dark(
      hsl(240 5.9% 10%),
      hsl(240 4.8% 95.9%)
    );
    --sidebar-border: light-dark(hsl(220 13% 91%), hsl(240 3.7% 15.9%));
    --sidebar-ring: light-dark(hsl(217.2 91.2% 59.8%), hsl(217.2 91.2% 59.8%));
    --color-bg-app: light-dark(hsl(0 0% 100%), hsl(240 5.9% 10%));
    --color-bg-container: light-dark(hsl(0 0% 100%), hsl(240 5.9% 10%));
    --color-bg-container-overlay: light-dark(
      rgba(218, 212, 247, 0.2),
      rgba(36, 36, 36, 0.2)
    );
    --color-bg-modal-overlay: light-dark(
      rgba(238, 237, 243, 0.6),
      rgba(36, 36, 36, 0.6)
    );
    --color-bg-hover: light-dark(
      rgba(251, 2, 150, 0.05),
      rgba(251, 2, 150, 0.05)
    );
    --color-bg-interactive: light-dark(
      rgba(130, 110, 247, 0.05),
      rgba(130, 110, 247, 0.05)
    );
    --color-bg-interactive-hover: light-dark(
      rgba(130, 110, 247, 0.07),
      rgba(130, 110, 247, 0.07)
    );
    --color-bg-info: light-dark(
      rgba(107, 98, 147, 0.1),
      rgba(107, 98, 147, 0.1)
    );
    --color-bg-info-hover: light-dark(
      rgba(107, 98, 147, 0.15),
      rgba(107, 98, 147, 0.15)
    );
    --color-bg-success: light-dark(
      rgba(0, 178, 113, 0.1),
      rgba(0, 178, 113, 0.1)
    );
    --color-bg-success-hover: light-dark(
      rgba(0, 178, 113, 0.15),
      rgba(0, 178, 113, 0.15)
    );
    --color-bg-warning: light-dark(
      rgba(229, 134, 0, 0.1),
      rgba(229, 134, 0, 0.1)
    );
    --color-bg-warning-hover: light-dark(
      rgba(229, 134, 0, 0.15),
      rgba(229, 134, 0, 0.15)
    );
    --color-bg-danger: light-dark(rgba(228, 2, 97, 0.1), rgba(228, 2, 97, 0.1));
    --color-bg-danger-hover: light-dark(
      rgba(228, 2, 97, 0.15),
      rgba(228, 2, 97, 0.15)
    );
    --color-bg-neutral: light-dark(
      rgba(134, 122, 184, 0.2),
      rgba(134, 122, 184, 0.2)
    );
    --color-bg-secondary-accent: light-dark(
      rgba(2, 177, 172, 0.05),
      rgba(2, 177, 172, 0.05)
    );
    --color-fg-interactive: light-dark(#6147d1, #6147d1);
    --color-fg-interactive-hover: light-dark(#4f33cc, #4f33cc);
    --color-fg-primary-accent: light-dark(#ca0279, #ca0279);
    --color-fg-secondary-accent: light-dark(#02b1ac, #02b1ac);
    --color-fg-info: light-dark(#6b6293, #6b6293);
    --color-fg-info-hover: light-dark(#6b6293, #6b6293);
    --color-fg-success: light-dark(#00b271, #00b271);
    --color-fg-success-hover: light-dark(#00b271, #00b271);
    --color-fg-warning: light-dark(#e58600, #e58600);
    --color-fg-warning-hover: light-dark(#e58600, #e58600);
    --color-fg-danger: light-dark(#e40261, #e40261);
    --color-fg-danger-hover: light-dark(#ca0256, #ca0256);
    --color-border-primary: light-dark(hsl(252 15% 88%), hsl(252 15% 15%));
    --color-border-interactive: light-dark(
      rgba(79, 51, 204, 0.3),
      rgba(79, 51, 204, 0.3)
    );
    --color-border-interactive-hover: light-dark(
      rgba(79, 51, 204, 0.5),
      rgba(79, 51, 204, 0.5)
    );
    --color-border-info: light-dark(
      rgba(107, 98, 147, 0.2),
      rgba(107, 98, 147, 0.2)
    );
    --color-border-info-hover: light-dark(
      rgba(107, 98, 147, 0.25),
      rgba(107, 98, 147, 0.25)
    );
    --color-border-success: light-dark(
      rgba(0, 178, 113, 0.2),
      rgba(0, 178, 113, 0.2)
    );
    --color-border-success-hover: light-dark(
      rgba(0, 178, 113, 0.25),
      rgba(0, 178, 113, 0.25)
    );
    --color-border-warning: light-dark(
      rgba(229, 134, 0, 0.2),
      rgba(229, 134, 0, 0.2)
    );
    --color-border-warning-hover: light-dark(
      rgba(229, 134, 0, 0.25),
      rgba(229, 134, 0, 0.25)
    );
    --color-border-danger: light-dark(
      rgba(228, 2, 97, 0.2),
      rgba(228, 2, 97, 0.2)
    );
    --color-border-danger-hover: light-dark(
      rgba(228, 2, 97, 0.25),
      rgba(228, 2, 97, 0.25)
    );
    --color-text-primary: light-dark(hsl(0 0% 3.9%), hsl(0 0% 88%));
    --color-text-primary-inverted: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
    --color-text-secondary: light-dark(#6b6293, #6b6293);
    --color-text-disabled: light-dark(#c2bddb, #c2bddb);
    --color-data-series-1: light-dark(#30c5cf, #30c5cf);
    --color-data-series-2: light-dark(#0065e5, #0065e5);
    --color-data-series-3: light-dark(#414cb4, #414cb4);
    --color-data-series-4: light-dark(#5b19e6, #5b19e6);
    --color-data-series-5: light-dark(#9a3aa1, #9a3aa1);
    --color-data-series-6: light-dark(#d8188b, #d8188b);
    --color-data-series-7: light-dark(#ff280f, #ff280f);
    --color-data-series-8: light-dark(#ff9200, #ff9200);

    --color-gray-1: light-dark(#b1b1b7, #b1b1b7);

    --color-active-agent: light-dark(#019894, #019894);
    --color-active-server: light-dark(#ca0279, #ca0279);
    --color-mcpx-server: light-dark(#6147d1, #6147d1);
    --color-no-agents: light-dark(#c2bddb, #c2bddb);
  }

  @keyframes pulse-line {
    0% {
      stroke-dashoffset: 20;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  .pulsing-line {
    stroke-dasharray: 10 10;
    animation: pulse-line 2.5s linear infinite;
  }

  @layer base {
    * {
      @apply border-border outline-ring;
    }
    body {
      @apply bg-background text-foreground;
    }

    .react-flow__node-selectorNode {
      font-size: 12px;
      background: #eee;
      border: 1px solid #555;
      border-radius: 5px;
      text-align: center;
    }
    .react-flow__handle-flow__handle.react-flow__handle-flow__handle {
      border: none !important;
    }
    .react-flow__handle.connectionindicator {
      border: none !important;
    }
  }

  @layer utilities {
    @keyframes shimmer {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}
